<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="BlazorWind - A Blazor WebAssembly Application" />
    <meta property="og:title" content="BlazorWind" />
    <meta property="og:description" content="BlazorWind - A Blazor WebAssembly Application" />
    <meta property="og:image" content="favicon.png" />
    <title>Blazor</title>
    
    <link rel="icon" href="@Assets["favicon.png"]" />
    <link rel="stylesheet" href="@Assets["css/app.min.css"]" />
    <link rel="stylesheet" href="@Assets["css/app.css"]" />
    <ImportMap />
    <HeadOutlet />
</head>

<body>
<Routes/>

<script src="@Assets["_framework/blazor.web.js"]"></script></body>

</html>
